# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single
ij_typescript_use_double_quotes = false

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.cs]
indent_size = 4

# Rules
dotnet_code_quality.CA1826.exclude_ordefault_methods = true
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1310.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1873.severity = none
