########################################
# PIA VPN Configuration
########################################

# Required in order to use the PIA VPN container.
PIA_USERNAME="your_pia_username"
PIA_PASSWORD="your_pia_password"

# Set LOCAL_NETWORK to allow connections to the VPN container from your
# host during local development. The value must be the CIDR of the
# network your host traffic originates from inside Docker:
#   macOS (Docker Desktop): usually 192.168.65.0/24  (VM gateway)
#   Linux (native Docker):  the Compose bridge subnet, e.g. 172.19.0.0/16
# To find it, check your Docker subnet settings in Docker Desktop at
# "Settings > Resources > Network" or run this command:
#   docker run --rm alpine sh -c "getent hosts host.docker.internal | awk '{print \$1}'"
# then connect to localhost:3001 and note the source IP.
# LOCAL_NETWORK=192.168.65.0/24


########################################
# Browserless Configuration
########################################

BROWSERLESS_TOKEN="some_random_token"

# Use these environment variables to specify the URLs for the browserless
# instances when using the browserless containers.
#BROWSERLESS_URL=ws://localhost:3000
#BROWSERLESS_URL_VPN=ws://localhost:3001


########################################
# Pushover Configuration
########################################

# Using these environment variables, you can enable Pushover notifications for site check results.
# PUSHOVER_TOKEN="your_pushover_token"
# PUSHOVER_USER="your_pushover_user"


########################################
# Discord Configuration
########################################

# Using this environment variable, you can enable Discord notifications for site check results.
# DISCORD_TOKEN="your_discord_token"


########################################
# Healthchecks Configuration
########################################

# Using this environment variable, you can enable Healthchecks pings for uptime monitoring.
# HEALTHCHECKS_URL="your_healthchecks_url"
