<div class="card rounded-3">
  <div class="list-group list-group-flush">
    @for (s of this.sites(); track s.id) {
    <button type="button"
            class="list-group-item list-group-item-action"
            [class.active]="s.id === this.selectedSite()?.id"
            (click)="this.selectSite(s)">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ s.name }}</div>
        @if (s.latestCheck; as check) {
        <div>{{ check.status }} | {{ check.startDate | date: 'short' }}</div>
        }
        @else {
        <div>No checks yet</div>
        }
      </div>
    </button>
    }
  </div>
</div>